.imagem-carrossel-1 {
    object-fit: cover;
    object-position: 0 80%;
    height: 400px;
}
.imagem-carrossel-2 {
    object-fit: cover;
    height: 400px;
}

.font-text {
    font-family: 'Pacifico', cursive;
}

.cor-especial {
    color: darkred !important;
}

.botao-receita {
    background-color: darkred;
    color: white;
}
.borda-receita {
    border-color: darkred;
    max-width: 18rem;
}

.img-cards {
    object-fit: cover;
    height: 200px;
}